<html>

<head>
    <title>
        Northern India
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wdbstyle.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        h1 {
            margin-top: 3%;
            text-align: center;
            font-size: 35px;
            margin-left: 20px;
        }
        
        .boxed {
            border: 2px solid rgb(194, 194, 191);
            margin: 3%;
            border-style: outset;
        }
        
        h2 {
            font-size: 25px;
            font-family: 'Times New Roman', Times, serif;
            margin-left: 20px;
        }
        
        p {
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            margin-left: 20px;
        }
        
        img {
            width: 350px;
            height: 350px;
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <header>
        <!-------Navigationbar------>
        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#" style="color: white;">India's Handloom Products</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="Home" href="/index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="about" href="/about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="database" href="/database">WEAVERS DATABASE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact" href="/contact">CONTACT US</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="profile" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="logout" href="/logout">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" id="login" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="signUp" href="/sign-up">Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </nav>

        </section>
        {% block content %}
        <h1>Welcome to Northern India</h1>
        <div class="boxed">
            <h2>RAJASTHAN</h2>
            <img src="https://media.gettyimages.com/photos/traditional-folk-dancers-in-india-picture-id143917716?k=6&m=143917716&s=612x612&w=0&h=LIhYHDWBcIwIe20QuS3c-Wna4DbspNHIzv5i_kqvI9U="><br><br>
            <p>Rajasthan’s textiles represent an amalgamation of generations of experimentation with fabric, handicraft skills and a sharp eye for detail. These textiles, woven with incredible precision, are the result of an oral tradition that has passed
                down generations, and been honed with finesse and purpose. It is always advisable to “buy local” – i.e. visit small villages instead of buying from Rajasthan’s urban shopping centers, as this is where you can get the kind of fabric, weaving
                and embroidery that is impossible to get anywhere else in the world. Rajasthan had mastered fabric dyeing much before America’s fascination with hippie tie and dye T patterns.Tiny, incredibly precise designs are achieved in cloth by plucking
                and tying a thread to reveal artwork in bright shades of like vermillion, saffron, emerald, sapphire, and yellow yields. Along with style, there is also symbolism here – red can represent a Hindu bride, and yellow signifies maternity.
                Bandhini use is common on turbans, dupattas, and sarees, in accompaniment with embroidery, mirror-work, and appliqué.Named after flowing waves of water, Leheriya work focuses on clear patterns, created on thin cotton or silk cloth, for
                turbans or saris. Authentic Leheriya fabric is sold with the knots (used for dyeing) still in place.</p>
            <hr>

            <h2>UTTAR PRADESH</h2>
            <img src="https://textilevaluechain.s3.ap-south-1.amazonaws.com/wp-content/uploads/2020/03/18170417/UP1.jpg"><br><br>
            <p>Famous as shadow work, Chikankari embroidery is a very delicate and intricate work from the city of Lucknow. A skill more than 200 years old, the embroidery is famous for its timeless grace and gossamer delicacy. Also known as Chikan, the
                embroidery is traditionally done using a white untwisted cotton thread on colorless muslin popularly known as tanzeb (the Muslim from Dacca). This form of embroidery came to India from Persia with Noor Jehan, the queen of the Mughal Emperor
                Jehangir. It is also said that the word chikan is a derivative from the Persian word ‘chikaan‘ meaning drapery. The craft flourished under the benign nawabi influence and later with the British influence designs became more formal resulting
                in an export market in Europe and England. Originally, chikan embroidery was done with the untwisted white cotton thread on soft, white cotton fabric like muslin or cambric. It was sometimes done on net to produce a kind of lace. Today
                chikan work is not only done with coloured threads but on all kinds of fabrics like silk, crepe, georgette, organdie chiffon, and tassar.</p>
            <hr>
            <h2>HIMACHAL PRADESH</h2>
            <img src="https://textilevaluechain.s3.ap-south-1.amazonaws.com/wp-content/uploads/2020/03/18165931/image-286.png"><br><br>
            <p>Himachal Pradesh is one state that has converted itself from being the most backward state of India to one of the most advanced states in the country. Such positive growth is being able to see in this country. Furthermore, Himachal Pradesh
                has become an economically fourth most valuable state of India. Tourism is a very major contributor to the Himachal Pradesh economy and growth. It is also known for its best adventure tourism activities like ice skating in the Shimla area,
                paragliding Solang valley, rafting in Kullu, skiing in Manali, Rohtang boating in Bilaspur and trekking, horse riding and fishing in different parts in the state. A variety of fabric is also famous in this state. Chamba rumal, thapada,
                etc are some type of wholesale fabrics that is being famous in Himachal Pradesh. It is not necessary to buy these fabrics from there only. There are many online wholesalers also who provide everything online. For example, there is an online
                company called “WholesaleBox”, it provides all kinds of clothing, fabrics, accessories at the lowest factory price. Retailers can also buy these fabrics from there.</p>
            <hr>
            <h2>UTTRAKHAND</h2>
            <img src="https://textilevaluechain.s3.ap-south-1.amazonaws.com/wp-content/uploads/2020/03/18171005/u1.jpg"><br><br>
            <p>The charming beauty of the valleys of Uttarakhand is complemented by the elegant and colourful crafts of Garhwal and Kumaon. Weaving is undoubtedly one of those traditional crafts that are deeply connected with the lives of the local hill
                people and their rich cultural heritage. Mainly famous for its woollen fabrics, the Himalayan weaving tradition in Uttarakhand also produces beautiful cotton and silk goods. Largely, it is the Bhotia Himalayan weavers community which dominates
                the weaving industry of Uttarakhand. Apart from the Bhotiyas, there are also other weaver communities like the Rompas and the Kolees in the area. The industry turns out a great variety of textile products ranging from routine objects like
                socks, caps, scarves, sweaters, mufflers etc. to more specialized items like shawls or carpets. The serenity and the grace of the Himalayas are perfectly matched by the traditional textile designs which are handed down from generation
                to generation. At times, the motifs used by the traditional weavers of Uttarakhand show interesting influences of the neighbouring states of Tibet, Nepal and China. However, in spite of these influences, the traditional textiles of Uttarakhand
                always reflect a unique ethnic character of their own. </p>
            <h2>PUNJAB</h2>
            <img src="https://textilevaluechain.s3.ap-south-1.amazonaws.com/wp-content/uploads/2020/03/18173534/main-qimg-810d55b0a3785020d11f096dbf72af91-450x300.jpg"><br><br>
            <p>Phulkari, which means ‘flower craft’ has been nestled in the culture of Punjab that goes back to the 15th century. Its bright colours embroidered in a manner that speaks volumes about the women and their clothing desires. The fabric on which
                Phulkari embroidery was done was hand spun khaddar (a handloomed plain-weave cotton fabric). It famously appeared in the tear-jerking love story of Heer-Ranjha by Waris Shah and the creative art of embroidery has not changed its technique
                since the introduction. Women of all ages and classes don this cloth that reflects their life through the various colours entrenched on it. It can be woven on shawls, Kurtas, Dupattas, and Lehengas with eye-catching blends of intricate
                patterns and is worn on all occasions by the women of traditional Punjab.</p>
            <h2>HARYANA</h2>
            <img src="https://media.gettyimages.com/photos/indian-women-weaving-textile-picture-id508651257?k=6&m=508651257&s=612x612&w=0&h=LGoTMc9898_NaPZzpavaMj-5GvSQxCty01keIiWhQNQ="><br><br>
            <p>The state of Haryana is steeped in rich cultural history that contributed to shaping present-day India. The name ‘Haryana’ derives from the Sanskrit words ‘Hari’, the 650th moniker for the Hindu God Vishnu, and ‘ayana’, which translates as
                ‘home’ – ‘Haryana’ can be understood to mean ‘the Abode of God’. Today, Haryana is one of the most economically developed areas in South Asia. This is greatly owed to innovations in the state’s agricultural, manufacturing, information
                technology and automobile industry. The location is home to major sites of the ancient Indus Valley Civilisation, Vedic Civilisation and legendary battles. The most well known battle is the Kurukshetra War of Hindu mythology, transcribed
                in the Sanskrit epic poem, the Mahabharata. Throughout the rule of the British in India, Haryana was part of East Punjab, which was annexed in 1849 by the East India Company. The present-day state of Haryana was officially inaugurated
                in 1966 on the basis of language – it was the Hindi-speaking region of historic Punjab.</p>

        </div>
        {% endblock %}
        <br>
</body>

</html>