{% extends "base.html" %}

{% block title%}
{{title}} State - India Handlooms website
{% endblock %}

{% block content %}
    <h3>This is the {{title}} page</h3>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Product Name</th>
                    <!-- <th scope="col">State Name</th> -->
                </tr>
            </thead>
            <tbody>
                {% for u in user %}
                <tr>
                <!-- <th scope="user.id"></th> -->
                <td>{{ u.company_Name }}</td>
                <td>{{ u.first_name }}</td>
                <td>{{ u.product_name }}</td>
                <!-- <td>{{ u.state }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- {% for u in user %}
        <ul id="user.id">
        <li>
            <span class="field-name">Company Name:</span>
            <span class="field-value">{{ u.company_Name }}</span>
        </li>
        <li>
            <span class="field-name">First Name:</span>
            <span class="field-value">{{ u.first_name }}</span>
        </li>
        <li>
            <span class="field-name">Product Name:</span>
            <span class="field-value">{{ u.product_name }}</span>
        </li>
        </ul>
        {% endfor %} -->
    </div>
{% endblock %}